.header {
    min-height: 25px;
	color: #ffffff;
	background: #1e5799;
	background: -moz-linear-gradient(top,  #1e5799 0%, #0879d6 50%, #207cca 100%);
	background: -webkit-linear-gradient(top,  #1e5799 0%,#0879d6 50%,#207cca 100%);
	background: linear-gradient(to bottom,  #1e5799 0%,#0879d6 50%,#207cca 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 );
	margin-bottom: 25px;
}

.header-logo {
    background: #ffffff;
    min-height: 25px;
    height: 70px;
}

.header-logo img {
	positon: relative;
	top: 50%;
	transform: translateY(50%);
	display: inline-block;
}
